# This is a CI workflow that:
# - builds ADK packages
# - runs tests using jest test framework
# - runs api-ref scripts that generates API Reference docs to the docs/ folder
# - runs api-ref-pre-release scripts that generates API Reference docs to the pre-release-docs/ folder
# - runs generate-attributions that generates third party license attributions files
# - performs secrets scan using trufflesecurity/trufflehog GHA
# - performs vulnerabilities scan using returntocorp/semgrep GHA

name: adk-ci
on:
  push:
    branches:
      - main
  pull_request:
    types: [assigned, opened, synchronize, reopened]

env:
  PROJEN_DISABLE_POST: '1'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      # We are seeing a very large slow down in startup execution in with npx (npm v9.7.2).
      # Setting to older version of npm to speed up execution.
      - run: npm install -g npm@6.14.13
      - run: yarn --immutable-cache
      - run: yarn build
      - run: yarn test
   
  secret-scan:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --only-verified --debug
          
  semgrep:
    runs-on: ubuntu-latest

    container:
      image: returntocorp/semgrep

    if: (github.actor != 'dependabot[bot]')

    steps:
      - uses: actions/checkout@v4
        with:
          # Target branch of the pull request
          # Source https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
          ref: ${{ github.base_ref }}
      - run: semgrep ci --include packages
        env:
          SEMGREP_RULES: "p/default"
